body {
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* topnavbar */
.row4 .title {
  margin-top: 2px;
  color: #6F36BB;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 30px;
}

.row4 .title:hover {
  color: #0e0f7c;
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 5px;
}

.row4 {
  background-color: white;
  height: 9vh;
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
  color: #0986b2;
}

.row4 .col-sm-4,
.col-sm-2 {
  padding: 1vh;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #0e0f7c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

li a:hover {
  color: orangered;
  background-color: white !important;
  border-radius: 10px;
  /* height: 5vh; */
  margin: 10px;
  padding: 5px;
}
.search {
  display: flex;
  flex-wrap: nowrap;
}

.search .form-control {
  width: 25vw;
}

form input::placeholder{
  color: #FF4878 !important;
  font-style: italic;
  text-align: center;
}
.search .search-icon {
  text-align: center;
  padding: 5px;
  background-color: #0e0f7c;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-left: 5px;
  color: #FF4878;
}

/* dropdown */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #0e0f7c;
  overflow: auto;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  clear: both;
  padding: 0;
  border-radius: 5px;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* end of top navbar */

/* mainbody styles */
.main-body {
  margin-left: 16%;
  margin-top: 10vh;
  justify-content: center;
  margin-bottom: 0;
}

.row-2 {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 0;
 margin-right: 5%;
  color: white;
  font-size: 20px;
}

.row-2 .col-sm-4 {
  border-radius: 10px;
  gap: 5px;
  margin: 10px;
  background-color: #7037BB;
  padding: 2rem;
}
.row-2 i {
  color: white;
  font-size: 84px;
  padding: 2rem;
}
img {
  height: 300px;
}

.col-4 img {
  border-radius: 15px;
  width: 100%;
}

/* h3 {
  color:#3b82f6; text-align: center; margin-top: 5%;
} */

/* end main body div */

/* left navbar */
.sidebar {
  padding: 0;
  background-color: #6F36BB;
  position: fixed;
  height: 100%;
  overflow: auto;
  width: 16%;
  z-index: 1;
  top: 0;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px 10px;
  text-decoration: none;
  margin-left: 50px;
}

.sidebar a:hover {
  color: rgb(214, 214, 75);
  margin-left: 30px;
  transition: 0.4s;
  cursor: pointer;
}

.sidebar .a:hover {
  margin-left: 0 !important;
}
.leftbar {
  margin-top: 10vh;
}

.sidebar h4 {
  text-align: left;
  color: white;
  margin-top: 100%;
  margin-left: 55px;
}
.sidebar .text {
  font-weight: bold;
  font-size: 16px;
  width: 100px;
  padding: 13px;
  margin-top: 5%;
}

.sidebar a:hover {
  margin-left: 0 !important;
}

div .content {
  padding: 1px 16px;
  height: 1000px;
}

/* end of left side bar */


/* right sidenav */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;  
  right: 0;
  margin-left: 70%;
  background-color: inherit;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-left: 1px solid black;
  border-radius: 5px;
  height: 80%;
  top: 10%;
  overflow-y: scroll;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-size: 18px;
}

.sidenav a:hover {
  color: red;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav a img {
width: 200px;
height: 150px;
}
 .right-sidebar {
    color: orange;
    margin-left: 80%; 
    cursor: pointer;   
}

/* end of right sidenav */

/* intro */

.intro h4,
p {
  text-align: center;
}
.links a {
  font-size: 24px;
}

/*carousel*/

.carousel-inner img {
  width: 90%;
  height: 60vh;
  border-radius: 10px;
  margin-left: 5%;
  margin-top: 5%;
}

/* end of sidenav */

/* jumbotron */
.Jumbotron {
  /* height: 30%; */
  background-color: #FF4878;
  margin-top: 15px;
  text-align: center;
  padding: 50px;
}

.row .col6 h3,
p {
  text-align: center;
  margin-left: 120px;
}

.row h3 {
  margin-left: 150px;
}

.row .col-6 img {
  width: 300px;
  height: 200px;
  margin-right: 100px;
  padding: 15px;
  border-radius: 20px;
}

/* end of jumbotron*/

/*past event*/
.row3 {
  display: flex;
  text-align: center;
  margin-top: 0;
  width: auto;
}

.row3 .col-4 {
  height: 30vh;
  margin: 5px;
  display: flex;
}

.row3 img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* card Specialty */

.row3 .card img {
  border-radius: 50%;
  padding: 5px;
  width: 40%;
  object-fit: cover;
  margin-left: 25%;
}

.container-fluid h2,
h4 {
  text-align: center;
}
.row3 .card p,
h3 {
  text-align: center;
  margin: 0;
}

/* Arrow div */

.arrow {
  text-align: center;
}
.arrow a {
  background-color: whitesmoke;
  color: black;
  border-radius: 50px;
  font-size: 16px;
  margin: 20px;
  padding: 10px;
}

.arrow a:hover {
  background-color: pink;
}

.container .arrow {
  font-size: 14px;
}
/* end of arrow div */

/*partners container*/
.partners {
  display: flex;
  background-color: #FF4878;
  justify-content: center;
}

.partners button {
  margin-left: 20px;
  height: 6vh;
  border-radius: 10px;
  color: white;
  background-image: linear-gradient(
    to bottom right,
    rgb(30, 9, 77),
    rgb(77, 8, 13)
  );
  padding: 10px;
  width: 15vw;
}

.partners button:hover {
  padding: 5px;
  color: rgb(231, 165, 176);
  transition: 0.1s;
}

.container h2 {
  text-align: center;
}
.container .row5 {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.container .row5 img {
  width: 100%;
  height: 50px;
  margin: 20px;
}

.footer {
  background-color: #6F36BB;
  padding: 10px;
  padding-bottom: 0;
  width: 100%;
  height: 300px;
}

.footer .row5 {
  display: flex;
  color: white;
}

.footer .row5 {
  text-align: center;
}

.footer .row5 .col-4 p {
  text-align: center;
  margin-left: 0;
}

.footer li {
  list-style-type: none;
}

.footer .col-4 a {
  color: white;
}

.footer .col-4 a:hover {
  color: rgb(6, 90, 117);
  cursor: pointer;
}

.footer li i {
  color: white;
}

.footer li i:hover {
  background-color: none;
}

.footer p {
  color: rgb(224, 217, 217);
  text-align: center;
  font-size: 14px;
}

.footer p:hover {
  padding: 2px;
  transition: 0.3;
  cursor: pointer;
}

.copyright {
  margin-top: 100px;
}

/* listing page */
.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 10px;
  padding: 30px;
}

.grid-container div {
  background-color: rgb(231, 221, 221);
  padding: 5px;
}

/* .grid-container div a {
 color: #0986b2;
} */

.grid-container img {
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
}

.news img:hover {
  transform: scale(102%);
  filter: brightness(0.5);
   transition: 0.4s ease;
}

.news a {
color: orangered !important;
}

.listings-body {
  margin-top: 12vh !important;
}



.navigation {
  margin-top: 0;
  margin-left: 30%;
  padding: 5px;
}
.navigation a {
margin: 10px;
background-color: whitesmoke;
padding: 5px;
color: black;
}

.navigation a:hover {
  background-color: #5fb9da;
  color: blue;
}
/* News */

.news-item {
  display: block;
}

.news-item a {
    color: black;
}

.news-item img {
width: auto;
}

/* end of news */

/* News details page */

.news-body p {
margin-right: 10%;

}

.right {
text-align: center;
}

.right img {
  width: 50%;
  border-radius: 5px;
}
.comment-session h2, .comment-box, .input, .post {
  margin-left: 80px;
}

.comment-session input, .comment-session h2, .post {
  border-radius: 5px;
  margin-left: 10% !important;
}

.comment-session p {
  text-align: left;
}

.published, .author {
  text-align: center;
}

.comment-box {
  width: 500px;
  height: 100px;
  margin: 10px;
  padding: 10px;
}

.details {
  display: flex;
}

.details input {
  margin: 20px;
  height: 25px;
  width: 180px;
  padding: 10px;
}

.post {
  width: 150px;
  height: 30px;
  margin: 10px;
  color: white;
  background-image: linear-gradient(orangered, green);
}

.post:hover {
  color: goldenrod;
 background-image: linear-gradient(green, orangered);
}
/* end */

/* upcoming events */
.Events {
  display: block;
  margin: 20px;
}

.eventContent {
  display: flex;
  border-radius: 5px;
  background-color: whitesmoke;
  margin: 20px;;
}

.eventContent img {
  object-fit: cover;
  width: 500px;
}

.eventContent img:hover {
  border-radius: 5px;
  transform: scale(105%);
  filter: brightness(0.5);
  transition: 0.4s ease;
}

.symbol {
  display: flex;
}

.symbol-text {
  margin-right: 200px;
}

.symbol button {
  border-radius: 10px;
  color: orange;
  height: 30px;
  margin-left: 250px;
}

.symbol .fa {
  color: green;
}

/* end */

/* MoCD */
.MoC-content {
  display: flex;
}

.Moc-body p {
  text-align: left;
}
/* end */

/* Careers in ICT */
.cards img:hover {
    transform: none !important;
  filter: 0;
   transition: 0.3s;
}

.cards .card .btn {
  background-image: linear-gradient(to right,green,  rgb(176, 194, 19));
  color: rgb(255, 255, 255);
}

.cards .card h4, .card-text {
text-align: left;
margin-left: 0;
}

.cards .card .btn:hover {
   background-image: linear-gradient(to right, rgb(176, 194, 19), green);
}

.card {
  
}
/* end */